<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>    
</head>
<body>
    {% if form.errors %}
    <p>There's something wrong with what you entered !</p>
    {% endif %}

    {% if next %}
    <p>Hey, you can't access this page</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <p>username: {{ form.username}}</p>
        <p>password: {{ form.password}}</p>

        <p><input type="submit" value="login"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>